// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*-----新規投稿画面-----*/
.new_member{
	width: 100%;
	border: #cccccc solid 3px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
}
.form_controller{
	width: 640px;
	border: #cccccc solid 3px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	padding: 5px;
	overflow: scroll;
}
.content_field{
	height: 600px;
}
.new_member .submit_btn{
	background-color: #33ccff;
	border: none;
	margin-bottom: 5px;
}
.create_member p{
  color: red;
}
.image_tag{
	margin: 0 auto;
	font-size: 15px;
}
/*---indexlayput---*/
.box{
	float: left;
}

.member_item{
	margin-top: 10px;	
}
.member_content_box{
	position: absolute;
	top: 114px;
	left: 600px;
	width: 50%;
	display: none;
	background-color: rgba(0,0,0,0.8);
	color: white;
	height: 300px;
	width: 450px;
	z-index: 999;
}
.member_item_box{
	float: left;
	width: 50%;
	text-align: center;
	display: block;
	margin:6px;
	font-size: 30px;
}
.member_item_box img{
	width:50px;
	height:50px;
}
.defolt_image img{
	position: absolute;
	top: 114px;
	left: 600px;
	width: 450px;
	height: 300px;
	z-index: 10;
}
.member_item .btn{
	background-color: #66ff33;
	margin:2px 8px;
}
.member_item_box:hover{
  cursor: pointer;	
}



