// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*-----新規投稿画面-----*/
.new_member{
	width: 100%;
	border: #cccccc solid 3px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
}
.form_controller{
	width: 640px;
	border: #cccccc solid 3px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	padding: 5px;
	overflow: scroll;
}
.content_field{
	height: 600px;
}
.new_member .submit_btn{
	background-color: #33ccff;
	border: none;
	margin-bottom: 5px;
}
.create_member p{
  color: red;
}
.image_tag{
	margin: 0 auto;
	font-size: 15px;
}
/*---indexlayput---*/
.member_item{
	margin-top: 10px;
}
.member_content_box{
	display: none;
	width: 600px;
	background-color: rgba(0,0,0,0.8);
	color: white;
	height: 300px;
}
.member_item_box{
	float: left;
	text-align: center;
	display: block;
}
